Contributor: Jisoo Yoon

@model FitnessAndCalorieTracker.Models.User
@{
    ViewData["Title"] = "User Details";
}

<h2>User Profile Details</h2>

<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Age</dt>
        <dd class="col-sm-9">@Model.Age</dd>

        <dt class="col-sm-3">Height (cm)</dt>
        <dd class="col-sm-9">@Model.Height</dd>

        <dt class="col-sm-3">Weight (kg)</dt>
        <dd class="col-sm-9">@Model.Weight</dd>

        <dt class="col-sm-3">Daily Calorie Goal</dt>
        <dd class="col-sm-9">@Model.DailyCalorieGoal</dd>

        <dt class="col-sm-3">BMI</dt>
        <dd class="col-sm-9">@Model.BMI</dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
